<header>
  <div routerLink="/">🍺</div>

  <div>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      >Home
    </a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <span>{{ authService.getUsername() }}</span>

    <mat-slide-toggle [checked]="themeService.isDarkMode()" (change)="themeService.toggleTheme()"> 
      Dark Mode 
    </mat-slide-toggle>
  </div>
</header>
