<header class="flex justify-around items-center bg-secondary dark:bg-secondary-dark p-1">
  <div routerLink="/" class="text-6xl cursor-pointer select-none">🍺</div>

  <div class="flex space-x-20 text-2xl bg-secondary dark:bg-secondary-dark">
    <a
      routerLink="/"
      class="link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home
    </a>
    <a routerLink="/login" class="link" routerLinkActive="active">Login</a>
    <a routerLink="/register" class="link" routerLinkActive="active">Register</a>
    <span class="te">{{ authService.getUsername() }}</span>
    <button class="text-3xl" (click)="toggleTheme()">
      {{ isDarkModeSign() }}
    </button>
  </div>
</header>
